/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */

$primary-bg-color: #ffffff;
$secondary-bg-color: #f8f8f8;
$primary-font-color: #24292e;
$secondary-font-color: #658fff;
$tertiary-font-color: #3369ff;
$primary-star-color: #f3d00b;

$game-width: 364px;
$tile-size: 45px;
$grid-row-cells: 7;
$grid-spacing: 4;
$tiles-no-width: 7;
$tiles-no-height: 7;

$tile-bg-primary: #838eff;
$tile-bg-secondary: #ff848b;
$tile-bg-tertiary: #53c58b;
$tile-bg-quaternary: #f3d00b;
$tile-bg-finish: #f8f8f8;
$tile-bg-wall: #656262;

$transition-speed: 200ms;
$overlay-transition-delay: 400ms;
$menu-overlay-wrapper-transition-delay: 100ms;
$score-transition-speed: 1s;

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	99% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes merged {
	0% {
		transform: scale(0);
	}

	60% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes score-up {
	0% {
		opacity: 1;
		left: 34px;
		transform: scale(0);
	}

	50% {
		transform: scale(1.6);
	}

	100% {
		opacity: 0;
		left: 64px;
		transform: scale(0);
	}
}

@keyframes overlay-fade-in {
	0% {
		opacity: 0;
		z-index: 0;
	}

	100% {
		opacity: 0.7;
		z-index: 3;
	}
}

@keyframes info-overlay-fade-in {
	0% {
		opacity: 0;
		z-index: 0;
	}

	100% {
		opacity: 1;
		z-index: 4;
	}
}

@keyframes menu-overlay-wrapper-fade-in {
	0% {
		opacity: 0;
		z-index: 0;
	}

	100% {
		opacity: 1;
		z-index: 4;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $secondary-bg-color;
	color: $primary-font-color;
}

p {
	margin: 0;
}

.app {
	width: $game-width;
	margin: 0 auto;

	.header {
		display: grid;
		grid-template-columns: [col] 206px [col] 152px;

		.score-wrapper {
			margin: 10px 0 0 0;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-auto-flow: row;
			position: relative;
			font-size: 12px;

			.score-unit {
				background-color: $secondary-bg-color;
				padding: 10px;
				width: 50px;
				border-radius: 5px;
				border: #f3ecec 1px solid;
				margin: 0 0 8px 0;
				box-shadow: inset 0 -0.6em 0 -0.5em rgba(0, 0, 0, 0.17);

				.score-subheader {
					border-bottom: 1px solid $tertiary-font-color;
					margin-bottom: 6px;
				}

				.score {
					font-weight: bold;
					text-align: center;
					text-transform: uppercase;
				}

				.single-score {
					position: absolute;
					opacity: 0;
					bottom: 24px;
					left: 34px;
					font-weight: bold;
					color: $tertiary-font-color;

					&.score-up {
						animation: $score-transition-speed score-up backwards;
					}
				}
			}
		}
	}

	.logo {
		font-family: sans-serif;
		font-size: 3rem;
		font-weight: bold;
		margin: 4px;
		padding: 34px 4px 34px 0;
		-webkit-text-stroke-width: 1px;
		-moz-text-stroke-width: 1px;
		color: $secondary-bg-color;

		&.logo-primary {
			text-shadow: 3px 3px $tile-bg-primary;
			-webkit-text-stroke-color: $tile-bg-primary;
			-moz-text-stroke-color: $tile-bg-primary;
		}

		&.logo-secondary {
			text-shadow: 3px 3px $tile-bg-secondary;
			-webkit-text-stroke-color: $tile-bg-secondary;
			-moz-text-stroke-color: $tile-bg-secondary;
		}

		&.logo-tertiary {
			text-shadow: 3px 3px $tile-bg-tertiary;
			-webkit-text-stroke-color: $tile-bg-tertiary;
			-moz-text-stroke-color: $tile-bg-tertiary;
		}

		&.logo-quaternary {
			text-shadow: 3px 3px $tile-bg-quaternary;
			-webkit-text-stroke-color: $tile-bg-quaternary;
			-moz-text-stroke-color: $tile-bg-quaternary;
		}
	}

	.game {
		position: relative;
		width: 340px;
		height: 340px;
		border: 10px solid $tile-bg-primary;
		border-radius: 5px;
		padding: 2px;
		margin: 0 auto;

		&.primary {
			border-color: $tile-bg-primary;
		}

		&.secondary {
			border-color: $tile-bg-secondary;
		}

		&.tertiary {
			border-color: $tile-bg-tertiary;
		}

		&.quaternary {
			border-color: $tile-bg-quaternary;
		}
	}

	.grid {
		position: absolute;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat($tiles-no-height, $tile-size);
		grid-template-rows: repeat($tiles-no-width, $tile-size);
		grid-auto-flow: row;
		grid-gap: 4px;
		background-color: $secondary-bg-color;

		.block {
			background-color: $primary-bg-color;
		}
	}

	.board {
		position: absolute;
		z-index: 2;
	}

	.tile {
		width: ceil($tile-size);
		height: ceil($tile-size);
		line-height: ceil($tile-size);
		position: absolute;
		border-radius: 50%;
		opacity: 0.4;
		cursor: pointer;
		transition-property: top, left;
		transition-duration: $transition-speed;
		transition-timing-function: linear;
	}

	// Build position classes
	@for $x from 0 through ($grid-row-cells - 1) {
		@for $y from 0 through ($grid-row-cells - 1) {
			.tile-position-#{$x}-#{$y} {
				$xPos: floor(($tile-size + $grid-spacing) * $x);
				$yPos: floor(($tile-size + $grid-spacing) * $y);

				top: $yPos;
				left: $xPos;
			}
		}
	}

	.tile-type-primary {
		background-color: $tile-bg-primary;
	}

	.tile-type-secondary {
		background-color: $tile-bg-secondary;
	}

	.tile-type-tertiary {
		background-color: $tile-bg-tertiary;
	}

	.tile-type-quaternary {
		background-color: $tile-bg-quaternary;
	}

	.tile-type-finish {
		background-color: $tile-bg-finish;
		opacity: 0.4;
		border-radius: 0px;

		&:before {
			content: " ";
			position: absolute;
			top: 8px;
			left: 8px;
			right: 8px;
			bottom: 8px;
		}

		&:after {
			content: " ";
			position: absolute;
			top: 16px;
			left: 16px;
			right: 16px;
			bottom: 16px;
		}

		&.tile-type-primary {
			outline: 4px solid $tile-bg-primary;
			outline-offset: -4px;

			&:before, &:after {
				border: 4px solid $tile-bg-primary;
			}
		}

		&.tile-type-secondary {
			outline: 4px solid $tile-bg-secondary;
			outline-offset: -4px;

			&:before, &:after {
				border: 4px solid $tile-bg-secondary;
			}
		}

		&.tile-type-tertiary {
			outline: 4px solid $tile-bg-tertiary;
			outline-offset: -4px;

			&:before, &:after {
				border: 4px solid $tile-bg-tertiary;
			}
		}

		&.tile-type-quaternary {
			outline: 4px solid $tile-bg-quaternary;
			outline-offset: -4px;

			&:before, &:after {
				border: 4px solid $tile-bg-quaternary;
			}
		}
	}

	.tile-type-wall {
		background-color: $tile-bg-wall;
		border-radius: 3px;
		cursor: auto;
		opacity: 1;
	}

	.tile-active {
		opacity: 1;
	}

	.tile-action-merged {
		animation: $transition-speed merged $transition-speed forwards;
	}

	.tile-action-removed {
		animation: $transition-speed fade-out forwards;
	}

	.info-overlay-wrapper {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $primary-bg-color;
		opacity: 0;
		z-index: 0;

		&.visible {
			animation: $transition-speed overlay-fade-in $overlay-transition-delay
				forwards;
			display: block;
		}
	}

	.info-overlay {
		padding: 15px;
		background-color: $secondary-bg-color;
		position: absolute;
		border-radius: 5px;
		top: 27%;
		left: 50%;
		margin-left: -140px;
		opacity: 0;
		z-index: 0;
		font-family: sans-serif;
		outline: 1px solid $secondary-font-color;

		&.visible {
			animation: $transition-speed info-overlay-fade-in
				$overlay-transition-delay forwards;
		}

		.title {
			position: absolute;
			top: -24px;
			left: -1px;
			text-transform: uppercase;
			color: $primary-bg-color;
			background-color: $secondary-font-color;
			font-size: 12px;
			padding: 6px;
			border: none;
			border-radius: 0.15em 0.15em 0 0;
		}

		.text {
			margin: 10px 0px 20px;
			white-space: pre-line;
			line-height: 20px;
		}

		.info {
			text-transform: uppercase;
			color: $tertiary-font-color;
			font-size: 23px;
		}

		.buttons-wrapper {
			display: grid;
			grid-template-columns: [col] 167px [col] 84px;

			.button {
				max-width: 100px;
			}
		}

		.score-info {
			display: grid;
			grid-template-columns: [col] 64px [col] 50px;
			margin-left: 100px;

			.score-title {
				padding: 14px 0 0 0;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				position: relative;

				&.best:before {
					content: "BEST!";
					position: absolute;
					top: 2px;
					left: 0;
					color: $tertiary-font-color;
					font-weight: bold;
					font-size: 10px;
				}
			}

			.score-value {
				padding: 22px 0 0 0;
				font-size: 34px;
			}
		}

		.line {
			border-bottom: $secondary-font-color 2px solid;
			padding-bottom: 10px;
		}
	}

	.button {
		display: inline-block;
		padding: 10px 10px;
		border: none;
		border-radius: 0.15em;
		text-decoration: none;
		font-family: sans-serif;
		text-transform: uppercase;
		color: $primary-bg-color;
		background-color: $secondary-font-color;
		box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
		text-align: center;
		cursor: pointer;
		position: relative;

		&:focus {
			outline: 0;
		}

		&:active {
			top: 1px;
		}
	}

	.menu-bar {
		display: grid;
    	grid-template-columns: [col] 180px [col] 180px;
	}

	.menu-overlay-wrapper {
		display: none;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 0;
		background-color: $secondary-bg-color;

		&.visible {
			animation: $transition-speed menu-overlay-wrapper-fade-in
				$menu-overlay-wrapper-transition-delay forwards;
			display: block;
		}

		.menu-overlay {
			width: 308px;
			margin: 0 auto;
			padding: 70px 0 0 0;
			font-family: sans-serif;
		}

		.logo {
			padding: 0 0 20px 40px;
			margin: 0;
			text-shadow: 3px 3px $tile-bg-primary;
			-webkit-text-stroke-color: $tile-bg-primary;
			-moz-text-stroke-color: $tile-bg-primary;
		}

		.content-wrapper {
			padding: 0 40px;

			.button {
				display: block;
				width: 228px;
				margin: 10px 0;

				&:focus {
					outline: 1px solid $secondary-font-color;
				}
			}

			.hints {
				text-align: left;
				box-shadow: none;
				background-color: $primary-bg-color;
				color: $tile-bg-wall;

				.fas {
					margin-left: 76px;
				}
			}

			.levels-display {
				position: relative;
				display: grid;
				grid-template-columns: repeat(3, 64px);
    			grid-template-rows: repeat(3, 56px);
    			grid-auto-flow: row;
				grid-gap: 10px;
				margin: 50px 0;
				padding: 8px;
				max-width: 212px;
				background-color: $primary-bg-color;

				.levels-header {
					position: absolute;
					top: -24px;
					left: 0;
					text-transform: uppercase;
					color: $primary-bg-color;
					background-color: $secondary-font-color;
					font-size: 12px;
					padding: 6px;
					border: none;
					border-radius: 0.15em 0.15em 0 0;
				}

				.level {
					border: 1px solid $secondary-font-color;
					border-radius: 0.15em;
					padding: 4px;
					background-color: $primary-bg-color;
					cursor: pointer;
				}
				
				.level-no {
					text-align: center;
					color: $secondary-font-color;
					font-size: 20px;
					padding: 4px 0;
				}
			}
		}

		.credits {
			text-align: center;
			margin: 70px auto 10px auto;
		
			.credits-link {
				text-decoration: none;
				color: $secondary-font-color;
			}
		}
	}

	.fa-star {
		color: $primary-star-color;
	}

	.stars-points {
		margin: 14px auto;
		font-size: 34px;
		width: 133px;

		.fa-star {
			padding: 0 6px 0 0;
		}
	}

	.button-link {
		padding: 10px 10px;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		font-family: sans-serif;
		font-weight: bold;
		font-size: 12px;
		color: $secondary-font-color;
		text-align: center;
		background-color: $secondary-bg-color;
		cursor: pointer;

		&:focus {
			outline: 1px solid $secondary-font-color;
		}

		&:first-child {
			margin-right: 1px;
		}
	}

	.hint {
		margin: 20px 0;
		padding: 20px 0 20px 20px;
		box-sizing: border-box;
		position: relative;
		background-color: $secondary-bg-color;
		border-radius: 5px;
		box-shadow: inset 0 -0.6em 0 -0.5em rgba(0, 0, 0, 0.17);

		&:before {
			content: "HINT";
			position: absolute;
			top: -8px;
			left: 6px;
			color: $tertiary-font-color;
			font-weight: bold;
			font-size: 18px;
		}

		& .buttons {
			padding: 14px 0 0 0;
		}
	}
}
